.box {
    padding: 10px;
    border: 5px solid #A0ACAD;
    background-color: #016FB9;
    flex: 1 1 50%
}
/* add media query to change flex to flex 1 1 100% */
.mw1280 {
max-width: 1280px;
margin: 0 auto
}
